*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Changa", sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.8rem 2rem;
    color: black;
    background-color: #ffffff; /* Background color of the navbar */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Box shadow for the navbar */
    padding: 10px 20px; /* Padding inside the navbar */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

.navbar .tit{
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 1.8rem;
}

.nav-list .uniqe a{
    border: 1px solid white;
    padding: 0px 5px;
    color: rgb(46, 46, 46);
}

.nav-list li a {
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(46, 46, 46);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}









.messages{
    background-color: #3c3c3c;
    color: white;
    padding: 7px;
    border-radius: 8px;
    margin: 7px;
    font-size: 18px;
}

.coverphoto{
    width: 100%;
    height: 350px;
}
.coverphoto .container{
    padding: 0 2rem;
    height: 100%;
}
.coverphoto .defintion{
    line-height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
}
.coverphoto .defintion small{
    display: inline-block;
    margin-top: 5px;
    color: rgb(160, 160, 160);
}
/*.coverphoto .container .image{
    width: 50%;
}
.coverphoto .container .paragraph{
    width: 50%;
    text-align: center;
}
.coverphoto .container .paragraph small{
    padding: 7px 0 ;
}*/
.coverphoto .container .defintion a{
    background-color: #484848;
    padding: 5px;
    outline: none;
    font-size: 18px;
    color: white;
    display: inline-block;
    width: fit-content;
    margin: 7px 0;
    text-align: center;
    text-decoration: none;
}
.coverphoto .container .paragraph small{
    background-color: transparent;
}
/*
.coverphoto .container .image img{
    width: 80%;
    height: 390px;
}*/
















.svg{
    margin: 8px 0;
}
.svg .taking-svgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.svg .taking-svgs .item{
  width: 5%;
  margin: 0 30px;
}
.svg .taking-svgs .item img{
    width: 100%;
    border-radius: 50%;
    opacity: 0.2;
}
  






.most{
    margin: 10px 0 ;
}
.most .container h2{
    line-height: 20px;
}
.most .container .tryit{
    line-height: 10px;
    color: gray;

}
.most .container{
    padding: 0 2rem;
}
.most .taking-products{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}
.most .taking-products .itemmost{
    width: 32%;
}

.most .taking-products .product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    width: 100%;
}
.most .taking-products .product .im{
    width: 50%;
    background-color: white;
}
.most .taking-products .product .im img{
    width: 117%;
    background-color: white;
    border-radius: 8px;
}
.most .taking-products .product .desc{
    width: 50%;
    margin-right: 9px;
    line-height: 27px;
    padding: 5px 0;
    font-size: 16px;
    background-color: white;
    line-height: 27px;
}
.most .taking-products .product .desc small{
    color: gray;
}
.most .taking-products .product .desc .uniqe{
    background-color: rgb(230, 230, 230);
    padding: 0px 3px;
    border-radius: 5px;
    font-size: 11.5px;
    color: black;
    margin: 9px 0 ;
    display: inline-block;
}
.most .taking-products .product .desc h4,small,p,h3{
    background-color: white;
}
.most .taking-products .product .desc .un{
    font-size: 13px;
    color: rgb(95, 95, 95);
}
.most .taking-products .product .desc {
    margin: 6px 0;
    color: #3c3c3c;
}













.sandwiches{
    margin-top: 50px;
}
.sandwiches h2{
    margin-bottom: 20px;
}
.sandwiches .container{
    padding: 0 2rem;
}
.sandwiches .container h2{
    line-height: 0px;
}
.sandwiches .container .menn{
    color: gray;
    line-height: 2px;
}
.sandwiches .taking-snadwiches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.sandwiches .taking-snadwiches .sand-product{
    width: 16%;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius:8px ;
    margin: 10px 4px;
    height: fit-content;
    padding: 1px 5px;
}
.sandwiches .taking-snadwiches .sand-product a{
    color: black;
}
.sandwiches .taking-snadwiches .sand-product img{
    width: 100%;
}
.sandwiches .taking-snadwiches .sand-product .description{
    width: 100%;
    text-align: right;
    background-color: white;
    line-height: 25px;
}
.sandwiches .taking-snadwiches .sand-product .description h4,small,h3{
    background-color: white;
}
.sandwiches .taking-snadwiches .sand-product .description h3{
    color: black;
    font-size: 23px;
    font-weight: 500;
}
.sandwiches .taking-snadwiches .sand-product .description small{
    color: rgb(143, 143, 143);
    font-size: 14px;
}
.sandwiches .taking-snadwiches .sand-product .description h3 .pr{
    color: rgb(63, 63, 63);
    font-size: 14px;

}
.sandwiches .taking-snadwiches .sand-product .description .fav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding: 4px 0 ;
}
.sandwiches .taking-snadwiches .sand-product .description .fav .prr, .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sandwiches .taking-snadwiches .sand-product .description .fav .item a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(68, 67, 67);
}
.sandwiches .taking-snadwiches .sand-product .description .dr{
    background-color: #e9e9e9;
    border-radius: 5px;
    padding: 1px 2px;
    color: black;
    display: inline-block;
    font-size: 12px;
    margin: 4px 0 ;
}


















.meal-detail{
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 8px 0 ;
    width: 80%;
    margin: 40px auto;
}
.meal-detail .taking-two-sides{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meal-detail .container{
    padding: 0 4rem;
}
.meal-detail .taking-two-sides .meal-photo{
    width: 40%;
}
.meal-detail .taking-two-sides .meal-photo img{
    width: 100%;
}
.meal-detail .taking-two-sides .meal_desc{
    width: 50%;
}
.meal-detail .taking-two-sides .meal_desc a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 4px 9px;
    outline: none;
    display: inline-block;
    margin: 7px 0 ;
}
.meal-detail .taking-two-sides .meal_desc .tag{
    background-color: #d1d1d1;
    color: black;
    padding: 1px 3px;
    display: inline-block;
    margin: 5px;
    border-radius: 8px;
    font-size: 13px;
}
.meal-detail .taking-two-sides .meal_desc .rate{
    color: #3c3c3c;
    font-size: 13px;
}
.meal-detail .taking-two-sides .meal_desc .ingre{
    color: rgb(131 131 131);
    font-size: 15px;
}
.meal-detail .taking-two-sides .meal_desc .add-price select{
    border: 1px solid lightgray;
    padding: 8px;
}

.cust-rate .taking-rating h3{
    text-align: center;
    transform: translate(57px, 100px);
}



.sandwiches .addporif{
    background-color: #343232;
    color: white;
    padding: 5px;
    display: inline-block;
    width: 160px;
    text-align: center;
}








.sandwiches .fav .prr .fgdb{
    background-color: rgb(228, 28, 28);
    padding: 3px;
    outline: none;
    width: 50px;
    cursor: pointer;
    color: white;
    border: none;
}




.cust-rate .container{
    padding: 0 6rem;
}
.cust-rate .container h2{
    margin: 10px 0 ;
    line-height: 7px;
}
.cust-rate .container .allr{
    color: gray;
    margin-bottom: 23px;
    display: inline-block;
}
.cust-rate .taking-rating{
    width: 60%;
    margin: 0 auto;
    padding: 9px;
    overflow-y: scroll;
    height: 350px;
}
.cust-rate .taking-rating .rate-div{
    margin: 7px 0 ;
    line-height: 27px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px  0;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.cust-rate .taking-rating .rate-div .use-png {
    width: 50px;
    height: 50px;
}
.cust-rate .taking-rating .rate-div .use-png img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 4px;
}
.cust-rate .taking-rating .rate-div .comment_details{
    width: 80%;
    line-height: 22px;
}
.cust-rate .taking-rating .rate-div .comment_details .name{
    font-size: 15px;
    color: gray;
}
.cust-rate .taking-rating .rate-div .comment_details p{
    font-size: 15px;
    color: #3c3c3c;
}
.cust-rate .taking-rating .rate-div .comment_details .dating{
    color: rgb(71, 71, 71);
    font-size: 13px;
}
.cust-rate .taking-rating .rate-div .comment_details .rta{
    font-size: 11px;
    color: gray;
}


.cust-rate form input , select{
    border: 1px solid lightgray;
    padding: 7px;
    outline: none;
    margin: 7px 0;
}
.cust-rate form textarea{
    border: 1px solid lightgray;
    width: 50%;
    outline: none;
    padding: 4px;
}
.cust-rate form #nmn{
    background-color: #343232;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    cursor: pointer;
}


.meal-detail #message{
    display: none; /* Initially hidden */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0; /* Fully transparent */
}

.meal-detail #cart-icon {
    display: none;
    position: fixed;
    bottom: 62px;
    left: 20px;
    background-color: rgb(48 48 48 / 70%);
    color: white;
    padding: 10px;
    border-radius: 19%;
    text-align: center;
    font-size: 20px;
    width: 65px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#add-cart{
    background-color: #3c3c3c;
    color: white;
    padding: 8px;
    border: none;
    font-size: 17px;
    outline: none;
}

.table-container h2{
    padding: 0 2rem;
    margin: 1rem ;
}
.table-container #order-list{
    display: flex;
    justify-content: right;
    margin-top: 30px;
    list-style-type: none;
    gap : 7px;
    padding: 0 2rem;
}
.table-container #order-list li a:visited{
    background-color: #ddd;
}
.table-container #order-list li a {
    background-color: #343232;
    border: none;
    outline: none;
    color: white;
    padding: 8px;

}

.table-container button{
    background-color: #757171;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    color: white;
    display: inline-block;
    margin: 4px;
}




.cart_detail .container{
    margin-top: 25px;
    padding: 0 5rem;
}
.cart_detail .container a{
    color: #3c3c3c;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
}
.cart_detail .container .clear{
    outline: none;
    padding: 2px 5px;
    border: none;
    color: white;
    background-color: rgb(223, 29, 29);
    font-size: 14px;
    margin-bottom: 20px;
}
.cart_detail .taking-sides{
    display: flex;
    padding: 7px;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(231, 231, 231);
}
.cart_detail .taking-sides .products{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.cart_detail .taking-sides .nvv{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.cart_detail .taking-sides .products .pro-desc{
    width: 60%;
}
.cart_detail .taking-sides .products .pro-desc .upd {
    outline: none;
    border: 1px solid rgb(228, 227, 227);
    padding: 8px;
    color: white;
    background-color: #474747;
    cursor: pointer;
    font-size: 15px;
    border-radius: 1px;
}
.cart_detail .taking-sides .products .pro-desc select,option{
    border: 1px solid rgb(228, 227, 227);
    border-radius: 0px;
    outline: none;
}
.cart_detail .taking-sides .products .pro-desc .del{
    outline: none;
    padding: 5px 5px;
    border: none;
    background: rgb(223, 29, 29);;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.cart_detail .taking-sides .products .prod-img{
    width: 45%;
}
.cart_detail .taking-sides .products .prod-img img{
    width: 100%;
}
.cart_detail .taking-sides input{
    border: 1px solid lightgray;
    border-radius: 8px;
    outline: none;
    padding: 4px 4px;
}
.cart_detail .taking-sides .bills{
    width: 29%;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 7px;
    position: sticky;
    top: 10px;
}
.cart_detail .taking-sides .bills .promo button{
    border: none;
    outline: none;
    background-color: #3c3c3c;
    color: white;
    padding: 4px 4px;
    border-radius: 8px ;
    margin: 0 3px;
}
.cart_detail .taking-sides .bills .promo small{
    background-color:rgb(230, 230, 230) ;
}
.cart_detail .taking-sides .bills .billing{
    line-height: 36px;
}
.cart_detail .taking-sides .bills .billing .bilb{
    background-color: rgb(230, 230, 230);
    color: gray;
    font-size: 15px;
}
.cart_detail .taking-sides .bills .billing a{
    background-color: #1a1919;
    outline: none;
    border: none;
    padding: 2px 5px;
    font-size: 17px;
    display: inline-block;
    border-radius: px;
    color: white;
    text-align: center;
    margin: 5px auto;
    width: 100%;
    border-radius: 8px;
}

.cart_detail .bills form .vxc{
    background-color: #3c3c3c;
    color: white;
    padding: 4px;
    display: inline-block;
    margin: 4px 0;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}



.shipping .ship-forms .lbel{
    display: flex;
    justify-content:right;
}
.shipping .ship-forms .lbel label{
    width: 22%;
}
.shipping .ship-forms .lbel #mjk{
    width: 2%;
}
.shipping .ship-forms #nbv{
    background-color: #3c3c3c;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    margin-top: 7px;
    align-items: center;
    cursor: pointer;
}





.shipping{
    margin-top: 20px;
}
.shipping .container{
    padding: 0 4rem;
}
.shipping .shipping-bill{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.shipping .shipping-bill .ship-forms{
    width: 50%;
    margin-top: 15px;
}
.shipping .shipping-bill .ship-forms input{
    border: 1px solid #e7e7e7;
    padding: 5px;
    display: block;
    width: 100%;
    margin: 4px 0 ;
}
.shipping .shipping-bill .bills,small,p{
    background-color: transparent;
}
.shipping .shipping-bill .bills{
    width: 30%;
    position: sticky;
    top: 10px;
}
.shipping .shipping-bill .bills .payments{
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 7px;
    margin: 10px 0 ;
}
.shipping .shipping-bill .bills .promo{
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 7px;
    margin: 10px 0 ;
}
.shipping .shipping-bill .bills .billing{
    line-height: 55px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 7px;
    margin: 10px 0 ;
}
.shipping .shipping-bill .bills .billing p{
    color:#888;
    font-size: 16px;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.shipping .shipping-bill .bills .billing a{
background-color: #1a1919;
outline: none;
border: none;
padding: 2px 5px;
font-size: 17px;
display: inline-block;
border-radius: px;
color: white;
text-align: center;
margin:  auto;
width: 100%;
border-radius: 8px;
}
.shipping .shipping-bill .bills .billing .bilbs{
    font-size: 24px;
    color: black;
}
.sandwiches .taking-snadwiches .description a{
    color: rgb(44, 44, 44);
    font-size: 16px;
}

.foooter-nav{
    display:none;
}
.gen_rate .container h2{
    margin: 10px 0;
}

.gen_rate .container{
    padding:1rem 2rem;
}

.gen_rate .links a {
    display: inline-block;
    margin: 0 5px;
    background-color: #3c3c3c;
    color: white;
    padding: 7px;
    border-radius: 8px;
    width: fit-content;
}
.comments{
    width: 70%;
    margin: 0 auto;
}

.comments .container{
    padding: 0 2rem;
}
.comments .container h3{
    margin: 7px 0;
    display: inline-block;
}
.comments .all-comments .hrr{
    border-bottom: 1px solid rgb(196, 194, 194);
}

.pagination{
    text-align: center;
    color: #484848;
}












.login .container{
    padding: 0 1rem;
}
.login .container h2{
    text-align: center;
    margin: 10px 0;
}
.login .title-form{
    text-align: center;
    width: 80%;
    margin: 30px auto;
}
.login .title-form .login{
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 4px;
    color: white;
    border-radius: 8px;
    width: 130px;
    outline: none;
    display: inline-block;
    margin: 12px 0;
    font-size: 16px;
    cursor: pointer;
}
.login .title-form input{
    border: 1px solid rgb(226, 226, 226);
    padding: 7px;
    width: 50%;
    border-radius: 8px;
}
.login .title-form button{
    background-color: #3c3c3c;
    border-radius: 8px;
    padding: 4px;
    outline: none;
    width: fit-content;
    border: none;
    font-size: 17px;
}
.login .title-form label{
    font-size: 17px;
    color: #292929;
    margin: 3px 0;
}
.login .title-form a{
    font-size: 14px;
    display: inline-block;
    margin: 4px 10px;
    color: rgb(112, 112, 112);
}



.control_panel .container{
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.control_panel .container .data a{
    text-decoration: none;
    background-color: #3c3c3c;
    padding: 7px;
    border-radius: 8px;
    display: inline-block;
    margin: 7px 0;
    color: white;
    cursor: pointer;
}
.control_panel .container .data .orders {
    display: flex;
    justify-content: center;
    gap: 7px;
}



.pagination {
    margin: 20px 0;
}

.step-links a {
    margin: 0 5px;
    text-decoration: none;
}

.step-links .current {
    font-weight: bold;
}


.order-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

#orders ul{
    display: flex;
}
#orders #orders-list li{
    list-style-type: none;
}
#orders ul a{
    border: 1px solid lightgray;
    margin: 4px;
}








.table-container {
    overflow-x: auto;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: right; /* Align text to the right for Arabic */
    border: 1px solid #ddd;
}

th {
    background-color: rgb(73, 73, 73);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
























.footer{
    margin-top: 35px;
}

.footer .taking-icons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .taking-icons i {
  font-size: 30px;
  margin: 0 10px;
  color: lightgray;
}

.footer .taking-links{
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 60%;
  text-align: center;
  margin:  10px auto;
  flex-wrap: wrap;
}

.footer .taking-links a{
  color: lightgray;
  text-decoration: none;
  margin: 0 5px;
  font-size: 16px;
}

.footer .log h1{
  color:lightgray;
}

.footer .log{
  margin: 7px auto;
  text-align: center;
}
.footer .log img{
    opacity: 0.5;
}
.footer .log span{
  color: #f5c518;
  font-size: 14px;
}
  
.footer .log small{
  color:#d1d1d1;
  font-size: 14px;
  margin: 10px 0;
  font-weight: bold;
  word-spacing: 7px;
}
  

  

































@media screen and (min-width: 801px) and (max-width: 1100px) {
    .most .taking-products .itemmost {
        width: 49%;
    }


    .sandwiches .taking-snadwiches .sand-product {
        width: 23%;
        box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
        border-radius: 8px;
        margin: 10px 4px;
        height: fit-content;
        padding: 1px 5px;
    }
    .meal-detail {
        border-bottom: 1px solid rgb(230, 230, 230);
        padding: 8px 0;
        width: 90%;
        margin: 40px auto;
    }
    .meal-detail .container {
    padding: 0 1rem;
}
.meal-detail .taking-two-sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meal-detail .taking-two-sides .meal-photo {
    width: 50%;
}
.cust-rate .container {
    padding: 0 1rem;
}
.cust-rate .taking-rating {
    width: 90%;
    margin: 0 auto;
    padding: 9px;
    overflow-y: scroll;
    height: 350px;
}
.cart_detail .taking-sides {
    display: flex;
    padding: 7px 1px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(231, 231, 231);
}
.cart_detail .container {
    margin-top: 25px;
    padding: 0 1rem;
}
.cart_detail .container {
    margin-top: 25px;
    padding: 0 1rem;
}
.cart_detail .taking-sides .products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.cart_detail .taking-sides .products .prod-img {
    width: 53%;
}

.cart_detail .taking-sides .bills {
    width: 38%;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 7px;
    position: sticky;
    top: 10px;
}
.cart_detail .taking-sides .products .pro-desc {
    width: 44%;
}
.shipping .ship-forms .lbel label {
    width: 46%;
}
.shipping .ship-forms .lbel #mjk {
    width: 4%;
}
.shipping .ship-forms #nbv {
    background-color: #3c3c3c;
    color: white;
    width: 33%;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    margin-top: 7px;
    align-items: center;
    cursor: pointer;
}
.shipping .shipping-bill .bills {
    width: 32%;
    position: sticky;
    top: 10px;
}
.cart_detail .taking-sides .bills {
    width: 41%;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 7px;
    margin: 0 auto;
    position: sticky;
    top: 10px;
}
.cart_detail .taking-sides {
    display: block;
    padding: 7px 1px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-top: 1px solid rgb(231, 231, 231);
}
.control_panel .container .data .orders {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}
.control_panel .container {
    text-align: center;
    margin: 0 auto;
    width: 89%;
}
.sandwiches .container {
    padding: 0 1rem;
}
.login .title-form input {
    border: 1px solid rgb(226, 226, 226);
    padding: 7px;
    width: 66%;
    border-radius: 8px;
}
.comments .container {
    padding: 0 0rem;
}
.comments {
    width: 82%;
    margin: 0 auto;
}
}




































@media screen and (min-width: 360px) and (max-width: 800px) { 


.navbar {
    display: inline-block;
    text-align: center;
    color: black;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 8px; 
}
.cart_detail .taking-sides .products .prod-img {
    width: 50%;
}
.navbar .tit{
    line-height: 18px;
    display: inline-block;
    padding: 0 4px;
    color: #555;
}
th, td {
    font-size: 14px;
}
.most .taking-products .itemmost {
    width: 100%;
}
.sandwiches .taking-snadwiches .sand-product {
    width: 48.5%;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    margin: 10px 2px;
    height: fit-content;
    padding: 1px 4px;
}
.cart_detail .taking-sides .products .pro-desc .del{
    outline: none;
    padding: 3px 5px;
    border: none;
    background: rgb(223, 29, 29);;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.navbar .menu-toggle{
    display: none;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
}

.meal-detail .taking-two-sides {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




.meal-detail .container {
    padding: 0 0rem;
}
.meal-detail .taking-two-sides {
    display: block;
    width: 100%;
}


.coverphoto{
    width: 100%;
    height: 300px;
}
.coverphoto .container{
    padding: 0 1rem;
    height: 100%;
}
.coverphoto .defintion{
    line-height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
}
.coverphoto .defintion h2{
    font-size: 24px;
}
.coverphoto .defintion small{
    display: inline-block;
    margin-top: 5px;
    color: rgb(160, 160, 160);
}
.coverphoto .container .defintion a{
    background-color: #484848;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
    display: inline-block;
    width: fit-content;
    margin: -7px 0;
    text-align: center;
    text-decoration: none;;
}
.coverphoto .container .paragraph small{
    background-color: transparent;
}

.svg .taking-svgs .item {
    width: 12%;
    margin: -10px 12px;
}


.most {
    margin: 50px 0;
}
.most .container {
    padding: 0 0.5rem;
}
.most .taking-products {
    display: block;
    margin-top: 15px;
}
.most .taking-products .product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 5px;
    margin: 8px 0;
    font-size: 14px;
    background-color: white;
    width: 100%;
}
.most .taking-products .product .desc {
    margin: 6px 0;
    color: #3c3c3c;
    font-size: 14px;
}

.meal-detail .taking-two-sides {
    display: block;
    justify-content: space-between;
    align-items: center;
}
.meal-detail .container {
    padding: 0 1rem;
}
.meal-detail .taking-two-sides .meal-photo {
    width: 100%;
}
.meal-detail .taking-two-sides .meal_desc {
    width: 100%;
}
.meal-detail {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 8px 0;
    width: 100%;
    margin: 40px auto;
}
.meal-detail .container {
    padding: 0 1rem;
}
.meal-detail .taking-two-sides .meal_desc {
    width: 100%;
    font-size: 14px;
}
.meal-detail .taking-two-sides .add-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    
}
.meal-detail .taking-two-sides .add-price .uniqee{
    background-color: #d7d7d7;
    border-radius: 8px;
    padding: 6px;
    width: 38px;
    margin-right: 7px;
    text-align: center;
    height: 38px;
    display: inline-block;
    
}
.meal-detail .taking-two-sides .add-price .addd .th{
    font-size: 18px;
}
.meal-detail .taking-two-sides .add-price .addd .th i{
    margin-right: 6px;
}


.desc {
    margin: 6px 0;
    color: #3c3c3c;
    font-size: 14px;
}
.most .taking-products .product .im img {
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.sandwiches .container {
    padding: 0 1rem;
}
.sandwiches .container .menn {
    color: gray;
    font-size: 13px;
}
.sandwiches .taking-snadwiches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: right;
}
.sandwiches .taking-snadwiches .sand-product {
    display: flex;
    width: 47%;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: right;
}
.sandwiches .taking-snadwiches .sand-product .description small {
    color: rgb(143, 143, 143);
    font-size: 13px;
}
.sandwiches .taking-snadwiches .sand-product .description .fav .prr, .item {
    width: 50%;
}
.meal-detail .taking-two-sides .meal-photo {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.cust-rate .container {
    padding: 0 1rem;
}
.cust-rate .container h2 {
    margin: 10px 0;
    line-height: 7px;
    font-size: 22px;
}
.cust-rate .container .allr {
    color: gray;
    margin-bottom: 23px;
    font-size: 13px;
    display: inline-block;
}
.cust-rate{
    padding-top: 30px;
}
.cust-rate .container .allr {
    color: gray;
    margin-bottom: 0px;
    font-size: 13px;
    display: inline-block;
}
.cust-rate .taking-rating {
    width: 100%;
    margin-top: 25px; 
    padding: 9px;
    overflow-y: scroll;
    height: 350px;
}
.cust-rate .taking-rating .rate-div .use-png {
    width: 40px;
    height: 40px;
}
.cust-rate .taking-rating .rate-div .comment_details p {
    font-size: 13px;
    color: #3c3c3c;
}
.cust-rate .taking-rating .rate-div .comment_details .name {
    font-size: 14px;
    color: gray;
}
.sandwiches .container h2 {
    line-height: 0px;
    font-size: 21px;
}
.sandwiches .taking-snadwiches .sand-product .description .fav .prr, .item {
    width: 46%;
}
.meal-detail {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 8px 0;
    width: 100%;
    margin: 0px auto;
}
.meal-detail .taking-two-sides .meal_desc {
    width: 100%;
    font-size: 14px;
    margin-top: -9px;
}
.sandwiches .taking-snadwiches .sand-product .description .fav .prr, .item {
    width: 50%;
}
.cart_detail .container {
    margin-top: 11px;
    padding: 0 1rem;
}
.cart_detail .taking-sides {
    display: block;
    border-top: 1px solid rgb(231, 231, 231);
}
.cart_detail .taking-sides .nvv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cart_detail .taking-sides .products {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.cart_detail .taking-sides .products .pro-desc {
    width: 50%;
    font-size: 15px;
}
.cart_detail .taking-sides .bills {
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 7px;
    margin-top: 15px;
}
.cart_detail .taking-sides .products .pro-desc select,option{
    border: 1px solid rgb(228, 227, 227);
    border-radius: 0px;
    outline: none;
}


.cart_detail .taking-sides .bills {
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 7px;
    font-size: 14px;
    margin-top: 15px;
}
.shipping .shipping-bill .bills .promo {
    font-size: 15px;
}
.shipping .ship-forms .lbel #mjk{
    width: 4%;
}

.shipping .ship-forms .lbel label {
    width: 36%;
}
.cart_detail .taking-sides .bills .promo button {
    border: none;
    font-size: 14px;
    outline: none;
    background-color: #3c3c3c;
    color: white;
    padding: 4px 2px;
    border-radius: 8px;
    margin: 0 3px;
}
.shipping .shipping-bill .bills{
    width: 30%;
    position:relative;
    top: 0px;
}
.cart_detail .taking-sides .bills .billing .nm{
    font-size: 19px;
    color: #3c3c3c;
}
.shipping {
    margin-top: 0px;
}
.shipping .container {
    padding: 0 1rem;
}
.shipping .shipping-bill {
    display: block;
    align-items: center;
    justify-content: space-evenly;
}
.shipping .shipping-bill .ship-forms {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
}
.shipping .shipping-bill .bills {
    width: 100%;
}

.sandwiches .taking-snadwiches .sand-product {
    width: 48.0%;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    margin: 10px 2px;
    height: fit-content;
    padding: 1px 5px;
}




.foooter-nav {
    position: fixed;
    bottom: 6px;
    left: 0;
    right: 0;
    padding: 0 0.2rem;
    display: none; /* Initially hide the footer nav */
    transition: transform 0.7s ease-in-out;
}

.foooter-nav.show {
    display: block;
    transform: translateY(0);
    padding: 0;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    bottom: 0;
    border-radius: 0px;
    margin: 0;
}

.cust-rate form textarea{
    border: 1px solid lightgray;
    width: 100%;
    outline: none;
    padding: 4px;
}
.cust-rate form input, select {
    border: 1px solid lightgray;
    padding: 4px;
    outline: none;
    margin: 7px 0;
}
.cart_detail .taking-sides .products .pro-desc .upd {
    outline: none;
    border: 1px solid rgb(228, 227, 227);
    padding: 5px;
    background-color: #3a3a3a;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0px;
    color:white;
}
.foooter-nav .links {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 10px 0;
    border-radius: 8px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.foooter-nav .links .link-tab {
    width: 25%;
    text-align: center;
    line-height: 17px;
    color: #292828;
    font-size: 16px;
}

.login .title-form input {
    border: 1px solid rgb(226, 226, 226);
    padding: 7px;
    width: 100%;
    border-radius: 8px;
}
.login .container h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
    color: #343232;
}
.login .container {
    padding: 0 0rem;
}
.login .title-form .loggin {
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 6px;
    color: white;
    border-radius: 8px;
    width: 115px;
    outline: none;
    display: inline-block;
    margin: 12px 0;
    font-size: 16px;
}

































::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    display: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
    display: none;

}

::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 3px solid #f1f1f1; /* creates padding around scroll thumb */
    display: none;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* color of the scroll thumb on hover */
    display: none;
}


}


       


























::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scroll thumb */
    border-radius: 6px; /* roundness of the scroll thumb */
    border: 3px solid #f1f1f1; /* creates padding around scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* color of the scroll thumb on hover */
}











