<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/tenten.png'%}" height="80px" width="80px">
        </div>
        <div class="tit">
            <small>دومـاً, عشرة على 10</small>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">المفضلة</a></li>
            <li><a href="#">طلباتي</a></li>
            <li><a href="{% url 'cart_summary' %}">
                السلة (<span id="cart_quantity"> {{cart|length}}</span>)
            </a></li>
            <li class="uniqe"><a href="">دخول</a></li>
        </ul>
    </nav>
    <!--navbar ending-->
    

    <div class="control_panel">
        <div class="container">
            <h2>لوحة التحـكم</h2>
            <div class="data">
                <p>عدد المنتجات : {{products}}</p>
                <a href="{% url 'product_admin' %}">إضافة | حذف | تعديل منتج</a>
                <p>التقييم العـام : {{rate|floatformat:1}} / 5 </p>
                <a href="{% url 'general_rating' 0 %}">الإطلاع على التقييمات</a>
                <p>الأفضل مبيعـاً : {{best_seller}} </p>
                <p>عدد الطلـبات : {{orders}} </p>
                <div class="orders">
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=1 %}">جميع الطلبات</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=2 %}"> الطلبات المباشرة</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=3 %}">طلبات اليوم</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=4 %}">طلبات السيارة</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=5 %}">طلبات البيت</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=6 %}">آخر 7 أيام</a>
                    </div>
                    <div class="ancho">
                        <a href="{% url 'admin_orders' order_type=7 %}">آخر 30 يوم</a>
                    </div>
                </div>
                <p>عدد المستخدمـين : {{users}}</p>
                <p>إجمالي المدخـول : {{total}} د.إ</p>
            </div>
        </div>
    </div>








    <!--footer -->

         <!--footer start-->
         <div class="footer">
            <!--<div class="container">-->
                <div class="taking-footer">
                   
                    <div class="taking-links">
                        <a href="">سياسة الخصوصية</a>
                        <a href="">تواصل معنـا </a>
                        <a href="">الشروط والأحكام </a>
                        <a href=""> الرئيـسية</a>
                    </div>
                    <div class="log">
                      <img src="{% static 'images/tenten.png' %}" height="75px" width="75px"><br>
                      <small>All Rights Reserved 2024<i class="fa-regular fa-copyright"></i></small>
                      <br><small>Developed by Ahmd Babiker</small>
                  </div>
                </div>
          
        </div>
    <!--footer end-->
    <!--footer -->




    

    <!-- footer navbar-->
    <div class="foooter-nav">
        <div class="container">
            <div class="links">
                <div class="link-tab">
                    <i class="fas fa-home"></i><br>
                    <small>الرئيسية </small>
                </div>
                <div class="link-tab">
                    <i class="fas fa-shopping-bag"></i><br>
                    <small>طلباتي </small>
                </div>
                <div class="link-tab">
                    <i class="fas fa-user"></i><br>
                    <small>حسابي </small>
                    
                </div>
                <div class="link-tab">
                    <i class="fas fa-shopping-cart"></i><br>
                    <small>سلة التسوق </small>
                </div>
               
            </div>
        </div>
    </div>

<!-- footer navbar-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    // Get the footer navigation element
var footerNav = document.querySelector('.foooter-nav');

// Function to toggle visibility based on scroll position
function toggleFooterNav() {
    if (window.scrollY > 100) { // Adjust scroll threshold as needed
        footerNav.classList.add('show');
    } else {
        footerNav.classList.remove('show');
    }
}

// Listen for scroll events and toggle footer navigation visibility
window.addEventListener('scroll', toggleFooterNav);
</script>






</body>
</html>


















