<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body dir="rtl">


    <!--navbar start-->


    <nav class="navbar">
        <div class="logo">من البيت</div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="#">الرئيسية</a></li>
            <li><a href="#">عن الموقع</a></li>
            <li><a href="#">الخدمات</a></li>
            <li><a href="#">التواصل</a></li>
            <li><a href="#">السلة (0)</a></li>
            <li class="uniqe"><a href="#">دخول</a></li>

        </ul>
    </nav>
    <!--navbar ending-->






   


    <!--profile start-->

    <div class="profile">
        <div class="container">
            <div class="background">
                
            </div>
            <div class="details">
                <div class="name-postnew">
                    <div class="name">
                        <h1> {{profile.storename}}     </h1>
                        <small>{{profile.bio}}</small>
                    </div>
                    
                    <div class="post-new">
                        {% if user == profile.user  %}
                        <a href="{% url 'newproduct' profile.id %}">نشر منتج جديد</a>
                        
                        <a href="{% url 'profile_update' profile.id %}" id="openBtn1" >تعديل بيانات الملف الشخصي</a>
                        
                        <a href="{% url 'viewprofileorders' profile.id %}">الطلبات</a>
                        {% endif %}
                                <div id="blurryBackground" class="blurry-background"></div>

                                <div id="popupForm" class="form-popup">
                                  <form class="form-container">
                                    <h2>نشر منتج جديد </h2>
                                
                                    <input type="text" placeholder="اسم المنتج" name="name" required>
                                    <input type="text" placeholder="وصف صغير للمنتج" name="desc" required>
                                    <input type="text" placeholder="السعر" name="price" required>
                                    <input type="file" placeholder="أرفق صورة" name="photo" required><br>
                                
                                    <button type="submit" class="btn">نشر</button>
                                    <button type="button" class="btn cancel" id="closeBtn">إغلاق</button>
                                  </form>
                                </div>


                    </div>
                </div>
                <div class="infos">
                    <p>المنطقة : {{profile.get_location_display}}</p>
                    |
                    <p>النشاط : {{profile.activity}}</p>
                    |
                    <p>واتساب :{{profile.phone_number}}</p>
                    |
                    <p>التقييم</p>
                    |
                    <p>تاريخ الإنشاء : {{profile.date_created}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--profile start-->






    <!--tabs start-->



<div class="tabs" dir="rtl">
  <button class="tablink" onclick="openTab('tab1')"> جميع المنتجات</button>
  <button class="tablink" onclick="openTab('tab2')"> المنتجات الرائجة</button>
  <button class="tablink" onclick="openTab('tab3')">تقييمات العملاء</button>
</div>

<div id="tab1" class="tabcontent">
    <div class="all-products">
        {% for products in product %}
        <div class="product">
            <div class="image">

            </div>
            <h4>    {{products.name}} </h4>
            <small>
                {{products.desc}}
            </small><br>
            <small>{{products.activity}} </small><br>

            <small>{{products.price}} د.إ</small><br>
            <a href="#">اضافة للسلة</a>
        </div>
        {% endfor %}


    </div>
</div>

<div id="tab2" class="tabcontent">
    <div class="all-products">
        <div class="product">
            <div class="image">

            </div>
            <h4>  هنا اسم المنتج </h4>
            <small>هنا وصف للمنتج هنا وصف للمنتج
                هنا وصف للمنتج
            </small><br>
            <small> 59 Dhs</small><br>
            <a href="#">اضافة للسلة</a>
        </div>


        <div class="product">
            <div class="image">

            </div>
            <h4>  هنا اسم المنتج </h4>
            <small>هنا وصف للمنتج هنا وصف للمنتج
                هنا وصف للمنتج
            </small><br>
            <small> 59 Dhs</small><br>
            <a href="#">اضافة للسلة</a>
        </div>


        <div class="product">
            <div class="image">

            </div>
            <h4>  هنا اسم المنتج </h4>
            <small>هنا وصف للمنتج هنا وصف للمنتج
                هنا وصف للمنتج
            </small><br>
            <small> 59 Dhs</small><br>
            <a href="#">اضافة للسلة</a>
        </div>

        <div class="product">
            <div class="image">

            </div>
            <h4>  هنا اسم المنتج </h4>
            <small>هنا وصف للمنتج هنا وصف للمنتج
                هنا وصف للمنتج
            </small><br>
            <small> 59 Dhs</small><br>
            <a href="#">اضافة للسلة</a>
        </div>

        <div class="product">
            <div class="image">

            </div>
            <h4>  هنا اسم المنتج </h4>
            <small>هنا وصف للمنتج هنا وصف للمنتج
                هنا وصف للمنتج
            </small><br>
            <small> 59 Dhs</small><br>
            <a href="#">اضافة للسلة</a>
        </div>



    </div>
    </div>

<div id="tab3" class="tabcontent">
    
<div class="comments" id="comments">
    <div class="comment">
        <div class="all-rating">
            <div class="single-rate comment">
  
              <div class="image-name">
                  <div class="img">
  
                  </div>
                  <div class="name-date">
                      <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                      <small>التقييم : ممتاز</small>
                  </div>
              </div>
  
              <div class="review">
                  <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                      هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                  </p>
              </div>
  
            </div>


            <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>


              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>
            
            
              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>



              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>



              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>



              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>



              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>




              <div class="single-rate comment">
  
                <div class="image-name">
                    <div class="img">
    
                    </div>
                    <div class="name-date">
                        <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                        <small>التقييم : ممتاز</small>
                    </div>
                </div>
    
                <div class="review">
                    <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                        هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                    </p>
                </div>
    
              </div>
    </div>
   </div>
    <!-- Add more comments here -->
  </div>
  
  <div id="loader" class="loader"></div> <!-- Loader element -->
  
  <button id="loadMoreBtn">Load More</button>
</div>



    <!--tabs start -->




























<!--


      <div class="customer-rating">
        <div class="all-rating">
            <div class="single-rate">
  
              <div class="image-name">
                  <div class="img">
  
                  </div>
                  <div class="name-date">
                      <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                      <small>التقييم : ممتاز</small>
                  </div>
              </div>
  
              <div class="review">
                  <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                      هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                  </p>
              </div>
  
            </div>
  
  
            <div class="single-rate">
  
              <div class="image-name">
                  <div class="img">
  
                  </div>
                  <div class="name-date">
                      <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                      <small>التقييم : ممتاز</small>
                  </div>
              </div>
  
              <div class="review">
                  <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                      هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                  </p>
              </div>
  
            </div>
      
  
  
            <div class="single-rate">
  
              <div class="image-name">
                  <div class="img">
  
                  </div>
                  <div class="name-date">
                      <small>أحمد بابكر الماحي - منذ 4 أيام</small><br>
                      <small>التقييم : ممتاز</small>
                  </div>
              </div>
  
              <div class="review">
                  <p>هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                      هنا التعليق على ملف البائع هنا التعليق على ملف البائع
                  </p>
              </div>
  
            </div>
  
  
  
        </div>
    </div>



  -->

















    

    <!--footer -->

    <div class="footer">
        <div class="container">

            <div class="footer-title">
                <h2>من البيـت</h2>
            </div>
            <div class="footer-links">
                <a href="#">عننا ؟ </a>
                <a href="#">سياسة الخصوصية</a>
                <a href="#">الشروط والأحكام</a>
                <a href="#">تواصل معنا</a>
                <a href="#">الرئيسية</a>
            </div>
            <small>جميع الحقوق محفوظة 2024</small><br>
            <small>Developed By : A h m d   B a b i k e r</small>
        </div>
    </div>
<!--footer -->






















<script>
    // Function to open a specific tab
function openTab(tabName) {
  // Hide all tab contents
  var tabContents = document.getElementsByClassName("tabcontent");
  for (var i = 0; i < tabContents.length; i++) {
    tabContents[i].classList.remove("show");
  }
  
  // Show the selected tab content
  document.getElementById(tabName).classList.add("show");
}




document.getElementById("openBtn").addEventListener("click", function() {
  document.getElementById("popupForm").style.display = "block";
  document.getElementById("blurryBackground").style.display = "block";
});

document.getElementById("closeBtn").addEventListener("click", function() {
  document.getElementById("popupForm").style.display = "none";
  document.getElementById("blurryBackground").style.display = "none";
});







document.getElementById("openBtn1").addEventListener("click", function() {
  document.getElementById("popupForm1").style.display = "block";
  document.getElementById("blurryBackground").style.display = "block";
});

document.getElementById("closeBtn1").addEventListener("click", function() {
  document.getElementById("popupForm1").style.display = "none";
  document.getElementById("blurryBackground").style.display = "none";
});


















document.addEventListener("DOMContentLoaded", function() {
  const commentsContainer = document.getElementById("comments");
  const loadMoreBtn = document.getElementById("loadMoreBtn");
  const comments = document.querySelectorAll(".comment");
  const loader = document.getElementById("loader"); // Loader element
  const numCommentsToShow = 2;
  let currentIndex = 0;

  // Show initial comments
  showComments(currentIndex, numCommentsToShow);

  // Function to show comments
  function showComments(startIndex, endIndex) {
    for (let i = startIndex; i < endIndex; i++) {
      if (comments[i]) {
        comments[i].style.display = "block";
      }
    }
  }

  // Function to handle click event on load more button
  loadMoreBtn.addEventListener("click", function() {
    loader.style.display = "block"; // Show loader when button is clicked
    setTimeout(function() {
      const nextIndex = currentIndex + numCommentsToShow;
      showComments(currentIndex, nextIndex);
      currentIndex = nextIndex;
      if (currentIndex >= comments.length) {
        loadMoreBtn.style.display = "none"; // Hide button when all comments are shown
      }
      loader.style.display = "none"; // Hide loader after comments are loaded
    }, 1000); // Simulating a delay of 1 second for demonstration purposes
  });
});




</script>
</body>
</html>